# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gradle/6.3/vcsMetadata-1/
build/generated/
build/resources/main/static/
build/resources/main/templates/
build/tmp/
gradle/.DS_Store
src/main/resources/static/
src/main/resources/templates/
