# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gradle/
.idea/.gitignore
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
HELP.md
LearnFolio.iml
build.gradle
gradle/
gradlew
gradlew.bat
settings.gradle
src/
