<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Student</h1>
</br>
</br>
<a th:href="@{/assignments/create}" value="add assignment" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Add Assignment</i></a>

</br>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Assignment ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created By</th>
        <th>Due Date</th>
        <th>Update Assignment</th>
        <th>Delete Assignment</th>
    </tr>
    </thead>
    <tr th:block th:each="assignment : ${assignments}">
        <td th:text="${assignment.id}"></td>
        <td th:text="${assignment.title}"></td>
        <td th:text="${assignment.description}"></td>
        <td th:text="${assignment.dueDate}"></td>
        <td><a th:href="@{/students/create}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Update Assignment</i></a></td>
        <td><a th:href="@{/students/create}" class="btn btn-primary"><i class="fas fa-user-times ml-2">Delete Assignment</i></a></td>
    </tr>
</table>

</body>
</html>
