<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/login}" th:object="${loginForm}" method="post"></form>
    <p th:if="${invalidCredentials}" class="error">Username or Password is Invalid</p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" autofocus="autofocus">
        <br/>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <br/>
        <input type="submit" value="Log In" />

</body>
</html>