<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: page-header"></nav>
    <h1>Login</h1>
    <form th:action="@{/login}" th:object="${loginForm}" method="post">
        <p th:if="${invalidCredentials}" class="error">Username or Password is Invalid</p>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" autofocus="autofocus">
        <br/>

        <label for="password">Password  </label>
        <input  type="password" id="password" name="password" />
        <br/>
        <input type="submit" value="Log In" />
    </form>
</body>
</html>