<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<meta charset="UTF-8"/>
<title>Student Dashboard</title>
<head th:replace="fragments :: head"></head>
<h1>{Student Account Name}</h1>
<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>
<h1>Student Dashboard</h1>
<h1>=====================</h1>

<h3>You made it to the student dashboard</h3>

<h1>=====================</h1>

<div class="container-fluid">
    <!-- Three columns: One for each section - students(list view), Assignments, Calendar View -->
    <div class="row">
        <!--        Teacher Students in class View -->

        <div class="col-md-3"><h5></br>Student Portfolio </br></br>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                Add to Portfolio
            </button></h5>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Document Name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Math 2.1</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>ELA- Main Idea</td>

                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Larry the Bird - Genius Hour Project</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--        Teacher Assignments View -->
        <div class="col-md-8"><h5></br>Assignments Column </br></br> <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false">
            Submit Assignment
        </button>
            </br>
<!--            File Uploads-->
            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>

            <div>
                <form method="POST" enctype="multipart/form-data" action="/uploadForm">
                    <table>
                        <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                        <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
                    </table>
                </form>
            </div>

            <div>
                <ul>
                    <li th:each="file : ${files}">
                        <a th:href="${file}" th:text="${file}" />
                    </li>
                </ul>
            </div>
        </h5>

<!--            Student Assignment List-->
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Math 2.1</td>
                    <td>Complete the even numbered problems</td>
                    <td>4/30/2020</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>ELA</td>
                    <td>Main Idea</td>
                    <td>Complete a video or written description of the main idea</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Larry the Bird</td>
                    <td>Genius hour project</td>
                    <td>4/30/2020</td>
                </tr>
                </tbody>
            </table>
        </div>

<!--        //Calendar View-->
        <div class="container col-sm-4">
        <div id="sidebar_content">

            <div class="mini_month">
                <div class="mini-cal-header">
                    <button class="prev_month_link Button Button--icon-action"><i class="icon-arrow-open-left"></i><span class="screenreader-only">Prev month</span></button>
                    <button class="next_month_link Button Button--icon-action"><i class="icon-arrow-open-right"></i><span class="screenreader-only">Next month</span></button>
                    <span class="mini-cal-month-and-year">
      <span class="month_name">April</span>
      <span class="year_number">2020</span>
    </span>
                </div>
                <div style="display: none;">
                    <span class="month_number">4</span>
                </div>
                <table class="mini_calendar" cellspacing="0">
                    <caption class="screenreader-only"></caption>
                    <thead>
                    <tr>
                        <th scope="col">
            <span class="screenreader-only">
              Sunday
            </span>
                        </th>
                        <th scope="col">
            <span class="screenreader-only">
              Monday
            </span>
                        </th>
                        <th scope="col">
            <span class="screenreader-only">
              Tuesday
            </span>
                        </th>
                        <th scope="col">
            <span class="screenreader-only">
              Wednesday
            </span>
                        </th>
                        <th scope="col">
            <span class="screenreader-only">
              Thursday
            </span>
                        </th>
                        <th scope="col">
            <span class="screenreader-only">
              Friday
            </span>
                        </th>
                        <th scope="col">
            <span class="screenreader-only">
              Saturday
            </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="mini_calendar_week">
                        <td id="mini_day_2020_03_29" class="mini_calendar_day day other_month previous_month date_03_29_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                29
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_03_30" class="mini_calendar_day day other_month previous_month date_03_30_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                30
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_03_31" class="mini_calendar_day day other_month previous_month date_03_31_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                31
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_01" class="mini_calendar_day day current_month date_04_01_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                1
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_02" class="mini_calendar_day day current_month date_04_02_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                2
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_03" class="mini_calendar_day day current_month date_04_03_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                3
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_04" class="mini_calendar_day day current_month date_04_04_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                4
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="mini_calendar_week">
                        <td id="mini_day_2020_04_05" class="mini_calendar_day day current_month date_04_05_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                5
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_06" class="mini_calendar_day day current_month date_04_06_2020 has_event">
                            <div class="day_wrapper" role="link" tabindex="0">
              <span class="day_number">
                6
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_07" class="mini_calendar_day day current_month date_04_07_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                7
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_08" class="mini_calendar_day day current_month date_04_08_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                8
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_09" class="mini_calendar_day day current_month date_04_09_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                9
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_10" class="mini_calendar_day day current_month date_04_10_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                10
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_11" class="mini_calendar_day day current_month date_04_11_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                11
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="mini_calendar_week">
                        <td id="mini_day_2020_04_12" class="mini_calendar_day day current_month date_04_12_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                12
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_13" class="mini_calendar_day day current_month date_04_13_2020 has_event">
                            <div class="day_wrapper" role="link" tabindex="0">
              <span class="day_number">
                13
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_14" class="mini_calendar_day day current_month date_04_14_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                14
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_15" class="mini_calendar_day day current_month date_04_15_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                15
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_16" class="mini_calendar_day day current_month date_04_16_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                16
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_17" class="mini_calendar_day day current_month date_04_17_2020 has_event">
                            <div class="day_wrapper" role="link" tabindex="0">
              <span class="day_number">
                17
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_18" class="mini_calendar_day day current_month date_04_18_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                18
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="mini_calendar_week">
                        <td id="mini_day_2020_04_19" class="mini_calendar_day day current_month date_04_19_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                19
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_20" class="mini_calendar_day day current_month date_04_20_2020 has_event">
                            <div class="day_wrapper" role="link" tabindex="0">
              <span class="day_number">
                20
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_21" class="mini_calendar_day day current_month date_04_21_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                21
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_22" class="mini_calendar_day day current_month date_04_22_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                22
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_23" class="mini_calendar_day day current_month date_04_23_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                23
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_24" class="mini_calendar_day day current_month date_04_24_2020 has_event">
                            <div class="day_wrapper" role="link" tabindex="0">
              <span class="day_number">
                24
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_25" class="mini_calendar_day day current_month date_04_25_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                25
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="mini_calendar_week">
                        <td id="mini_day_2020_04_26" class="mini_calendar_day day current_month today date_04_26_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                26
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_27" class="mini_calendar_day day current_month date_04_27_2020 has_event">
                            <div class="day_wrapper" role="link" tabindex="0">
              <span class="day_number">
                27
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_28" class="mini_calendar_day day current_month date_04_28_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                28
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_29" class="mini_calendar_day day current_month date_04_29_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                29
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_04_30" class="mini_calendar_day day current_month date_04_30_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                30
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_05_01" class="mini_calendar_day day other_month next_month date_05_01_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                1
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_05_02" class="mini_calendar_day day other_month next_month date_05_02_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                2
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="mini_calendar_week">
                        <td id="mini_day_2020_05_03" class="mini_calendar_day day other_month next_month date_05_03_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                3
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_05_04" class="mini_calendar_day day other_month next_month date_05_04_2020 has_event">
                            <div class="day_wrapper" role="link" tabindex="0">
              <span class="day_number">
                4
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_05_05" class="mini_calendar_day day other_month next_month date_05_05_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                5
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_05_06" class="mini_calendar_day day other_month next_month date_05_06_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                6
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_05_07" class="mini_calendar_day day other_month next_month date_05_07_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                7
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_05_08" class="mini_calendar_day day other_month next_month date_05_08_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                8
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                        <td id="mini_day_2020_05_09" class="mini_calendar_day day other_month next_month date_05_09_2020">
                            <div class="day_wrapper">
              <span class="day_number">
                9
              </span>
                                <span class="screenreader-only previous_month_text">Previous month</span>
                                <span class="screenreader-only next_month_text">Next month</span>
                                <span class="screenreader-only today_text">Today</span>
                                <span class="screenreader-only event_link_text">Click to view event details</span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                    </div>
            </div>
        </div>

    </div>
    </div>
</div>

</body>
</html>