<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<meta charset="UTF-8"/>
<title>Student Dashboard</title>
<head th:replace="fragments :: head"></head>
<h1>{Student Account Name}</h1>
<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>
<h1>Student Dashboard</h1>
<h1>=====================</h1>

<h3>You made it to the student dashboard</h3>

<h1>=====================</h1>

<div class="container-fluid">
    <!-- Three columns: One for each section - students(list view), Assignments, Calendar View -->
    <div class="row">
        <!--        Teacher Students in class View -->

        <div class="col-md-3"><h5></br>Student Portfolio </br></br>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                Add to Portfolio
            </button></h5>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Document Name</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Math 2.1</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>ELA- Main Idea</td>

                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Larry the Bird - Genius Hour Project</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--        Teacher Assignments View -->
        <div class="col-md-8"><h5></br>Assignments Column </br></br> <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false">
            Submit Assignment
        </button></h5>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Math 2.1</td>
                    <td>Complete the even numbered problems</td>
                    <td>4/30/2020</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>ELA</td>
                    <td>Main Idea</td>
                    <td>Complete a video or written description of the main idea</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Larry the Bird</td>
                    <td>Genius hour project</td>
                    <td>4/30/2020</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>



</body>
</html>