<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<meta charset="UTF-8"/>
<title>Teacher Dashboard</title>
<head th:replace="fragments :: head"></head>
<h1>{Teacher Account Name}</h1>
<body class="container body-content">
<nav th:replace="fragments :: page-header"></nav>
<h1>Teacher Dashboard</h1>
<h1>=====================</h1>

<h3>You made it to the teacher dashboard</h3>

<h1>=====================</h1>

<div class="container-fluid">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="container-fluid">
    <!-- Three columns: One for each section - students(list view), Assignments, Calendar View -->
    <div class="row">
<!--        Teacher Students in class View -->

        <div class="col-md-3"><h5></br>Students(list view) Column </br></br>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                Add Student to Class
            </button></h5>
            <table>
            <tr class="row">
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
            <tr class="row">
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr class="row">
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            </table>
        </div>

<!--        Teacher Assignments View -->
        <div class="col-md-8"><h5></br>Assignments Column </br></br> <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false">
            Add Assignment
        </button></h5>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Math 2.1</td>
                    <td>Complete the even numbered problems</td>
                    <td>@04/30/2020</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>ELA</td>
                    <td>Main Idea</td>
                    <td>Complete a video or written description of the main idea</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Larry the Bird</td>
                    <td>Genius hour project</td>
                    <td>@04/30/2020</td>
                </tr>
                </tbody>
            </table>
        </div>

</div>

</body>




</html>