<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<meta charset="UTF-8"/>
<title>Teacher Dashboard</title>
<head th:replace="fragments :: head"></head>
<h1>{Teacher Account Name}</h1>
<body class="container-fluid body-content">
<nav th:replace="fragments :: page-header"></nav>
<h1>Teacher Dashboard</h1>
<h1>=====================</h1>

<h3>You made it to the teacher dashboard</h3>

<h1>=====================</h1>

<div class="container-fluid">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div>
<div class="container-fluid">
    <!-- Three columns: One for each section - students(list view), Assignments, Calendar View -->
    <div class="row">
<!--        Teacher Students in class View -->
        <div class="col-md-3"><h5>Students(list view) Column</h5>
            <table>
            <tr class="row">
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
            <tr class="row">
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr class="row">
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
            </table>
            </br>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                Add Student to Class
            </button>
        </div>
    </div>

<!--        Teacher Assignments View -->
        <div class="col-md-8"><h5>Assignments Column</h5>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Math 2.1</td>
                    <td>Complete the even numbered problems</td>
                    <td>@04/30/2020</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>ELA</td>
                    <td>Main Idea</td>
                    <td>Complete a video or written description of the main idea</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Larry the Bird</td>
                    <td>Genius hour project</td>
                    <td>@04/30/2020</td>
                </tr>
                </tbody>
            </table>
            </br>
            <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false">
                Add Assignment
            </button>
        </div>


<!--        Calendar View -->
<!--        <div class="col-md-4"><h5>Calendar View Column</h5>-->
<!--            <div class="container-fluid">-->
<!--                <header>-->
<!--                    <h4 class="display-4 mb-4 text-center">November 2017</h4>-->
<!--                    <div class="row d-none d-sm-flex p-1 bg-dark text-white">-->
<!--                        <h5 class="col-sm p-1 text-center">Sunday</h5>-->
<!--                        <h5 class="col-sm p-1 text-center">Monday</h5>-->
<!--                        <h5 class="col-sm p-1 text-center">Tuesday</h5>-->
<!--                        <h5 class="col-sm p-1 text-center">Wednesday</h5>-->
<!--                        <h5 class="col-sm p-1 text-center">Thursday</h5>-->
<!--                        <h5 class="col-sm p-1 text-center">Friday</h5>-->
<!--                        <h5 class="col-sm p-1 text-center">Saturday</h5>-->
<!--                    </div>-->
<!--                </header>-->
<!--                <div class="row border border-right-0 border-bottom-0">-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">29</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Sunday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">30</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Monday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">31</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Tuesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">1</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Wednesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">2</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Thursday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">3</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Friday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-info text-white" title="Test Event 1">Test Event 1</a>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">4</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Saturday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="w-100"></div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">5</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Sunday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">6</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Monday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">7</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Tuesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">8</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Wednesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-success text-white" title="Test Event 2">Test Event 2</a>-->
<!--                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white" title="Test Event 3">Test Event 3</a>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">9</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Thursday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">10</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Friday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">11</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Saturday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="w-100"></div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">12</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Sunday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">13</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Monday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">14</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Tuesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">15</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Wednesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">16</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Thursday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">17</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Friday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">18</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Saturday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="w-100"></div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">19</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Sunday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">20</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Monday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-primary text-white" title="Test Event with Super Duper Really Long Title">Test Event with Super Duper Really Long Title</a>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">21</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Tuesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">22</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Wednesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">23</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Thursday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">24</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Friday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">25</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Saturday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="w-100"></div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">26</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Sunday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">27</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Monday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">28</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Tuesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">29</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Wednesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">30</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Thursday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">1</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Friday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">2</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Saturday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="w-100"></div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">3</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Sunday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">4</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Monday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">5</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Tuesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">6</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Wednesday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">7</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Thursday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">8</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Friday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                    <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">-->
<!--                        <h5 class="row align-items-center">-->
<!--                            <span class="date col-1">9</span>-->
<!--                            <small class="col d-sm-none text-center text-muted">Saturday</small>-->
<!--                            <span class="col-1"></span>-->
<!--                        </h5>-->
<!--                        <p class="d-sm-none">No events</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->




</div>

</body>




</html>