<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: page-header"></nav>

    <form method="post" action="/students/create">
        <div class="form-group"></div>
        <label>Name
            <input type="text" name="studentName" class="form-control">
        </label>
        </div>
        <div class="form-group"></div>
        <input type="submit" value="Create Student" class="btn btn-success">
        </div>
    </form>

</body>
</html>