<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Student</h1>
</br>
</br>

<form method="post">
    <label>Student First Name</label></br>
    <input type="text" name="firstName"></br>
    <label>Student Last Name</label></br>
    <input type="text" name="lastName"></br>
    <label>Email</label></br>
    <input type="text" name="email"></br>
    <label>Verify Email</label></br>
    <input type="text" name="verifyStudentEmail"></br>
    <input type="submit" value="Create">
</form>

</br>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
    </tr>
    </thead>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
    </tr>
</table>

</body>
</html>
