<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: page-header"></nav>

<h1>Add Student</h1>
</br>
</br>
<a th:href="@{/students/create}" value="add student" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Add Student</i></a>
<!--<a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Update Student</i></a>-->

<!--<form method="post">-->
<!--&lt;!&ndash;    <label>Student First Name</label></br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="firstName"></br>&ndash;&gt;-->
<!--&lt;!&ndash;    <label>Student Last Name</label></br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="lastName"></br>&ndash;&gt;-->
<!--&lt;!&ndash;    <label>Email</label></br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="email"></br>&ndash;&gt;-->
<!--&lt;!&ndash;    <label>Verify Email</label></br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="verifyStudentEmail"></br>&ndash;&gt;-->
<!--    <input type="submit" value="create">-->
<!--</form>-->

</br>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Student ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Update Student</th>
        <th>Delete Student</th>
    </tr>
    </thead>
    <tr th:block th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td><a th:href="@{/students/create}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Update Student</i></a></td>
        <td><a th:href="@{/students/create}" class="btn btn-primary"><i class="fas fa-user-times ml-2">Delete Student</i></a></td>
    </tr>
</table>

</body>
</html>
